.idea
/var/
/robots.txt
/changelog.txt
/admin.php
/init.php
/config.php
/index.php
/.htaccess
/install_ru.html
/config.local.php
/edost.txt
/api.php
/install.html
/copyright.txt
/store_closed.html
/upgrades/
/images/

/app/

/design/
/js/
