.ty-pagination__bottom {
  .ty-pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .ds_pagination_items {
      .ty-pagination__selected {
        background: #663ab3;
        border-radius: 50%;
        font-weight: 700;
      }
    }


      .ds-sort-dropdown {
        margin-top: 5px;
        height: 35px;
        .ds-sort-dropdown__content-item-a {
          color: #fff;
          font-weight: 600;
          border-radius: 3px;
          padding: 7px;
          margin-left: 25px;
          background-color: #663ab3;
          &:hover {
            cursor: pointer;
            color: #ffffff;
            /* background: #dce3ea; */
            transition: background-color 300ms ease-in-out;
            background-color: #9c63ff;
          }
          }
        }
      }
  }
