.ty-product-block__wrapper {
  .ty-product-block__left {
    background: #f8f8f9;
    border: 1px solid #e4eafd;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    width: 280px;
    height: 450px;
    float: right;
    padding: 10px;
    position: relative;

      .prices-container {
        .ty-product-prices {
          display: flex;
          justify-content: center;

          .ty-product-block__price-actual {
            .ty-price {


              .ty-price-num {
                font-size: 28px;
              }
            }
          }
        }
      }

      .ty-product-block__field-group {
        .ds_price_sum {
          text-align: end;
          
        }
      }


          .ty-product-block__button {
            position: absolute;
            bottom: 15px;
            right: 0;
            left: 0;


            .ds_block_button {
              display: flex;
              justify-content: space-evenly;
              flex-direction: row-reverse;
              flex-wrap: nowrap;
              align-items: center;
            }

              .ds_add_to_cart {


                .product_cart_button {
                  width: 111px;
                  height: 40px;
                  font-size: 16px;
                  font-weight: 600;
                  color: white;
                  background: #8646f8;
                  border: none;
                  border-radius: 3px;
                  padding: 0;
                }
              }

              .wishlist__buttons {

                .ty-btn {
                  background: none;
                  margin: 0;
                }

                & .ds_wishlist_in {
                  color: #9b62fe;
                }

                a {
                  font-size: 27px;
                  color: #bdbecb;
                }

                &:hover a {
                  transition: color 0.3s ease-in;
                  color: #9b62fe;
                }
              }
            }
          }

  .ty-product-img {
    border: none;
  }
  }