.ds_confirm_items {
  .ds_confirm-step {
    border: none;
    background: #8847fb;
    border-radius: 5px;
    height: 32px;
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 4px;
    margin-top: 16px;
  }
}